:host(parking-template-view) ol {
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}

:host(parking-template-view) li {
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, box-shadow;
}

:host(parking-template-view) li:hover {
    background-color: var(--lumo-base-color);
    box-shadow: var(--lumo-box-shadow-s);
}

:host(parking-template-view) .panel-footer {
    position: relative;
    padding: 8px 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #ddd;
}

:host(parking-template-view) .panel-footer iron-icon {
    width: var(--lumo-icon-size-s);
    height: var(--lumo-icon-size-s);
}
